.text-no-decoration {
  text-decoration: none;
  color: var(--color-black);
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
  padding: 0.2rem;
}

.text-no-decoration:hover {
  background-color: var(--color-black);;
  color: var(--color-white);
  border-radius: 0.3rem;
}

.text-no-decoration1 {
  text-decoration: none;
  color: var(--color-black);
  padding: 0.2rem;
}

.text-no-decoration1:hover {
  background-color: var(--color-black);;
  color: var(--color-white);
  border-radius: 0.3rem;
}
